<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeeServlet</servlet-name>
        <servlet-class>servlets.FeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BankServlet</servlet-name>
        <servlet-class>servlets.BankServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BatchScheduleServlet</servlet-name>
        <servlet-class>servlets.BatchScheduleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bank</servlet-name>
        <servlet-class>servlets.Bank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>servlets.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeeServlet</servlet-name>
        <url-pattern>/FeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BankServlet</servlet-name>
        <url-pattern>/BankServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BatchScheduleServlet</servlet-name>
        <url-pattern>/BatchScheduleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bank</servlet-name>
        <url-pattern>/Bank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/Game</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
